<!DOCTYPE html>

<!-- Creates model for Creating an Occasion -->
<!-- @author: Usman--> 

 <!-- Register Modal -->

            <div id="createOccasionModal" class="modal fade" role="dialog">
              <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content" style="padding:20px">
                

                 <form role="form" action="" method="post" class="registration-form">
                            
                            <fieldset>
                              <div class="form-top">
                                <div class="form-top-left">
                                  <h3>Create an Occasion!</h3>
                                </div>
                                <div class="form-top-right">
                                  <img id = "logo" src="/img/OccasionalThoughts_logo_blue.png"class="img-responsive" alt="">
                                </div>
                                </div>
                                <div class="form-bottom">



                                 <div class="form-group">
                                  <div class="input-group">
                                    <span class="input-group-addon">
                                      <span class="glyphicon glyphicon-gift"></span>
                                    </span>
                                    <input type="text" name="title" placeholder="Title" class="form-first-name form-control" id="form-first-name">
                                  </div>
                                </div>

                                <div class="form-group">
                                  <div class="input-group">
                                    <span class="input-group-addon">
                                      <span class="glyphicon glyphicon-pencil"></span>
                                    </span>
                                    <textarea id="description" placeholder="Description (Optional)" cols="50" rows="20" class="form-first-name form-control" id="form-first-name"></textarea>
                                  </div>
                                </div>

                                <div id = "preview"style="display:none; width: 100%; height: 200px; border: 3px solid #DDDDDD; margin-bottom:15px">
                                  <img id = "previewImg" src="http://simpleicon.com/wp-content/uploads/camera.png" style = "max-width:100%; max-height:100%; margin-left:auto; margin-right:auto" class="img-responsive" alt="">
                                </div>

                                <div class="form-group">
                                  <div class="input-group">
                                    <span class="input-group-addon">
                                      <span class="glyphicon glyphicon-picture"></span>
                                    </span>

                                    <input name="coverPhoto" placeholder="Cover Photo URL (Optional)" class="form-first-name form-control" id="url">
                                    <span class="input-group-btn">
                                      <a id="upload" class="btn btn-primary">Upload</a>
                                    </span>

                                    <!-- <button id="upload" class="btn btn-primary btn-xs" type="button">Upload</button> -->
                                      
                                  </div>
                                </div>

                                <div>
                                  
                                </div>

                                

                            </div>
                            <a id="next" class="btn btn-primary next" style = "position:relative; left:30%; margin:8px">Next</a>
                          </fieldset>
                          
                          <fieldset>
                              <div class="form-top">
                                <div class="form-top-left">
                                  <h3>Create an Occasion</h3>
                                </div>
                                <div class="form-top-right">
                                  <img id = "logo" src="/img/OccasionalThoughts_logo_blue.png"class="img-responsive" alt="">
                                </div>
                                </div>

                                <div class="form-bottom">
                                  

                                <div class="form-group">
                                  <div class="input-group">
                                    <span class="input-group-addon">
                                      <span class="glyphicon glyphicon-th"></span><span> Publishing Date</span>
                                    </span>
                                    <input type="date" name="pubDate" placeholder="Enter a date" class="form-first-name form-control" id="pubDate">
                                    
                                  </div>
                                </div>

                                <div class="form-group">
                                  <div class="input-group">
                                    <span class="input-group-addon">
                                      <span class="glyphicon glyphicon-time"></span><span> Publishing Time</span>
                                    </span>
                                    <input type="time" name="pubTime" placeholder="Enter a date" class="form-first-name form-control" id="pubTime">
                                    
                                  </div>
                                </div>

                                <div>
                                  <p style="color:#000000; font-size:16px"> Who can view the published occasion?</p> 

                                  <div class="checkbox">
                                    <label><input type="checkbox" name="Rtogler" value="1">Anyone with a link</label>
                                  </div>
                                  <div class="checkbox">
                                    <label><input type="checkbox" name="Rtogler" value="2">People who have added thoughts</label>
                                  </div>
                                  <div class="checkbox">
                                    <label><input type="checkbox" name="Rtogler" value="3">The following specified people</label>
                                  </div>

                                  <div class="form-group">
                                      <div class="input-group">
                                        <span class="input-group-addon">
                                          <span class="glyphicon glyphicon-user"></span>
                                        </span>
                                        <input id="recipientShare" class="form-control" placeholder="Select Friends" />
                                      </div>
                                    </div>

                                    <div id="recipients">

                                    </div>

                                </div>
                            </div>

                            <a class="btn btn-primary next" style = "position:relative; margin:8px; left:40%">Next</a>
                            <a class="btn btn-primary previous" style = "position:relative; margin:8px; right:40%">Previous</a>

                          </fieldset>

                          <fieldset>
                              <div class="form-top">
                                <div class="form-top-left">
                                  <h3>Create an Occasion</h3>
                                </div>
                                <div class="form-top-right">
                                  <img id = "logo" src="/img/OccasionalThoughts_logo_blue.png"class="img-responsive" alt="">
                                </div>
                                </div>
                                <div class="form-bottom">
                                <div id = "privacyForm" class="form-group email">
                                  <p style = "color:#000000; font-size:20px"> Who can add a thought? </p>
                                  <label id = "tgl1" class="checkbox-inline"><input type="radio" name = "toggler1" value="1">Anyone with a link</label>
                                  <label id = "tgl2" class="checkbox-inline"><input type="radio" name = "toggler2 " value="2">Only specific people</label>
                                </div>

                                <div id="blk-1" class="toHide" style="display:none">
                                    <p style="color:#000000; font-size:16px"> Here is your public link to the occasion</p> 
                                    <div class="form-group">
                                    <div class="input-group">
                                      <span class="input-group-addon">
                                        <span> Public Link: </span>
                                      </span>
                                      <input id="copy-link" name="publicLink"  class="form-first-name form-control" id="form-first-name">
                                    </div>
                                    </div>

                                    <p style="color:#000000; font-size:16px"> Share it with your facebook friends!</p> 

                                    <a id="fb-share" class="btn btn-block btn-social btn-facebook">
                                      <span class="fa fa-facebook"></span> Share link with Facebook Messenger
                                    </a>
                                </div>


                                <div id="blk-2" class="toHide" style="display:none">
                                    <p style="color:#000000; font-size:16px" class="email"> Select friends to invite to your occasion:</p> 
                                    <div class="form-group email">
                                      <div class="input-group">
                                        <span class="input-group-addon">
                                          <span class="glyphicon glyphicon-user"></span>
                                        </span>
                                        <input id="participantShare" name="friends" class="form-control" placeholder="Select Friends" />
                                      </div>
                                    </div>

                                    <div id="participants" class = "email">
                                    </div>  
                            </div>

                          </div>

                            <a id="finish" class="btn btn-primary" style = "display:none; position:relative; margin:8px; left:40%">Finish</a>
                            <a id="done" class="btn btn-primary" style = "display:none; position:relative; margin:8px;">Done!</a>
                            <a id="previous" class="btn btn-primary previous" style = "position:relative; margin:8px; right:40%">Previous</a>

                          </fieldset>
                          
                        
                        </form>


              </div>

              </div>
              </div>