<!-- Creates model for Creating an Occasion -->
<!-- @author: Usman--> 

 <!-- Register Modal -->
            <div id="createOccasionModal" class="modal fade" role="dialog">
              <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content" style="padding:20px">
                

                 <form role="form" action="" method="post" class="registration-form">
                            
                            <fieldset>
                              <div class="form-top">
                                <div class="form-top-left">
                                  <h3>Create an Occasion!</h3>
                                </div>
                                <div class="form-top-right">
                                  <img id = "logo" src="/img/OccasionalThoughts_logo_blue.png"class="img-responsive" alt="">
                                </div>
                                </div>
                                <div class="form-bottom">


                                 <div class="form-group">
                                  <div class="input-group">
                                    <span class="input-group-addon">
                                      <span class="glyphicon glyphicon-th"></span>
                                    </span>
                                    <input type="text" name="title" placeholder="Title" class="form-first-name form-control" id="form-first-name">
                                  </div>
                                </div>

                                <div class="form-group">
                                  <div class="input-group">
                                    <span class="input-group-addon">
                                      <span class="glyphicon glyphicon-pencil"></span>
                                    </span>
                                    <input type="text" name="description" placeholder="Description" style = "height:150px; width: 100%" class="form-first-name form-control" id="form-first-name">
                                  </div>
                                </div>

                                <div id = "preview" style="width: 100%; height: 200px; border: 3px solid #DDDDDD; margin-bottom:15px">
                                  <img id = "previewImg" src="http://simpleicon.com/wp-content/uploads/camera.png" style = "max-width:100%; max-height:100%; margin-left:auto; margin-right:auto" class="img-responsive" alt="">
                                </div>

                                <div class="form-group">
                                  <div class="input-group">
                                    <span class="input-group-addon">
                                      <span class="glyphicon glyphicon-picture"></span>
                                    </span>
                                    <input type="text" name="coverPhoto" placeholder="Cover Photo URL" class="form-first-name form-control" id="url">
                                  </div>
                                  <a id="upload" class="btn btn-primary btn-block">Upload</a>
                                </div>
                            </div>
                            <input type="submit" role="button" id="createOccasion" class="btn btn-primary" style = "position:relative; left:50%; margin:8px" value= "Create Occasion">
                            <a id="cancel" class="btn btn-primary" style = "position:relative; right:45%; margin:8px">Cancel</a>
                            <a id="next" class="btn btn-primary" style = "position:relative; right:25%; margin:8px">Next</a>
                          </fieldset>
                          
                          <fieldset>
                              <div class="form-top">
                                <div class="form-top-left">
                                  <h3>Step 2 / 3</h3>
                                    <p>Set up your account:</p>
                                </div>
                                <div class="form-top-right">
                                  <i class="fa fa-key"></i>
                                </div>
                                </div>
                                <div class="form-bottom">
                                <div class="form-group">
                                  <label class="sr-only" for="form-email">Email</label>
                                  <input type="text" name="form-email" placeholder="Email..." class="form-email form-control" id="form-email">
                                </div>
                                <div class="form-group">
                                <label class="sr-only" for="form-password">Password</label>
                                  <input type="password" name="form-password" placeholder="Password..." class="form-password form-control" id="form-password">
                                </div>
                                <div class="form-group">
                                  <label class="sr-only" for="form-repeat-password">Repeat password</label>
                                  <input type="password" name="form-repeat-password" placeholder="Repeat password..." 
                                        class="form-repeat-password form-control" id="form-repeat-password">
                                </div>
                                <button type="button" class="btn btn-previous">Previous</button>
                                <button type="button" class="btn btn-next">Next</button>
                            </div>
                          </fieldset>
                          
                          <fieldset>
                              <div class="form-top">
                                <div class="form-top-left">
                                  <h3>Step 3 / 3</h3>
                                    <p>Social media profiles:</p>
                                </div>
                                <div class="form-top-right">
                                  <i class="fa fa-twitter"></i>
                                </div>
                                </div>
                                <div class="form-bottom">
                              <div class="form-group">
                                <label class="sr-only" for="form-facebook">Facebook</label>
                                  <input type="text" name="form-facebook" placeholder="Facebook..." class="form-facebook form-control" id="form-facebook">
                                </div>
                                <div class="form-group">
                                  <label class="sr-only" for="form-twitter">Twitter</label>
                                  <input type="text" name="form-twitter" placeholder="Twitter..." class="form-twitter form-control" id="form-twitter">
                                </div>
                                <div class="form-group">
                                  <label class="sr-only" for="form-google-plus">Google plus</label>
                                  <input type="text" name="form-google-plus" placeholder="Google plus..." class="form-google-plus form-control" id="form-google-plus">
                                </div>
                                <button type="button" class="btn btn-previous">Previous</button>
                                <button type="submit" class="btn">Sign me up!</button>
                            </div>
                          </fieldset>
                        
                        </form>


              </div>

              </div>
              </div>