<!-- Creates model for Creating an Occasion -->
<!-- @author: Usman--> 

 <!-- Register Modal -->
            <div id="createOccasionModal" class="modal fade" role="dialog">
              <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content" style="padding:20px">
                <h5 class="text-center" style="color:#000000">New Occasion</h5>
                <form class="form form-signup" role="form">
                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <span class="glyphicon glyphicon-gift"></span>
                      </span>
                      <input name="title" type="text" class="form-control" placeholder="Title" />
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <span class="glyphicon glyphicon-envelope"></span>
                      </span>
                      <input name="description" type="text" class="form-control" style="height: 200px" placeholder="Description of Occasion" />
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <a id="thought"> Who can add a thought? </a>
                    </div>
                  </div>
                  <div id ="friends-div" class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <span class="glyphicon glyphicon-user"></span>
                      </span>
                      <input id="share" name="friends" type="text" class="form-control" placeholder="Type the name of a facebook friend to share the occasion with." />
                    </div>
                  </div>
                  <input type="submit" class="btn btn-sm btn-primary btn-block" role="button" value="Create Occasion"> 
                </form>
                <div>
                    <a href="#" id="noorsBtn" class="btn btn-primary btn-lg">Get!</a>
                </div>

              </div>

              </div>
              </div>