<!DOCTYPE html>

<!-- Creates model for Editing a Thought-->
<!-- @author: Usman--> 

 <!-- Register Modal -->

            <div id="editThoughtModal" class="modal fade" role="dialog">
              <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content" style="padding:20px">
                

                 <form role="form" action="" method="post" class="registration-form">
                            
                            <fieldset>
                              <div class="form-top">
                                <div class="form-top-left">
                                  <h3>Edit Your Thought</h3>
                                </div>
                                <div class="form-top-right">
                                  <img id = "logo" src="/img/OccasionalThoughts_logo_blue.png"class="img-responsive" alt="">
                                </div>
                                </div>
                                <div class="form-bottom">



                                <div class="form-group">
                                  <div class="input-group">
                                    <span class="input-group-addon">
                                      <span class="glyphicon glyphicon-pencil"></span>
                                    </span>
                                    <textarea id="edited-thought" cols="50" rows="10" class="form-first-name form-control" id="form-first-name"></textarea>
                                  </div>
                                </div>


                                </div>

                                <div>
                                  <input type="hidden" name="edit-thought-id">
                                  <input type="hidden" name="occasion-id">
                                </div>

                                

                            </div>
                            <a id="done-edit-thought" class="btn btn-primary" style = "position:relative; margin:8px;">Done!</a>
                          </fieldset>
                          


                          
                          
                        
                        </form>


              </div>

              </div>
              </div>