  <!-- @author: Suniyya-->

  <title>Occasional Thoughts</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  



  <!-- Custom Fonts -->
  <!-- Common Scripts -->

  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="/javascripts/helpers.js"></script>

    <!--CSS and UI dependencies-->
  <!-- Bootstrap Core CSS -->
  <!-- <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
  <link href="/bootstrap/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="/bootstrap/css/bootstrap-social.css" rel="stylesheet" type="text/css">
  <link href="/bootstrap/css/grayscale.css" rel="stylesheet">
  <link href="//code.jquery.com/ui/1.11.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
  <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
  <link rel="stylesheet" href="http://jquery-ui.googlecode.com/svn/tags/latest/themes/base/jquery.ui.theme.css" type="text/css" />
  <link rel="stylesheet" href="http://jquery-ui.googlecode.com/svn/tags/latest/themes/base/jquery.ui.base.css" type="text/css" />

  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css"> -->
  <link rel="stylesheet" href="/assets/css/form-elements.css">
  <link rel="stylesheet" href="/assets/css/style.css">
  
  <!--Images -->
  <link rel="shortcut icon" href="assets/ico/favicon.png">

  <!-- Javascript files containing methods-->
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="assets/js/scripts.js"></script>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">