<!DOCTYPE html>
<!-- Displays a user's dashboard after login. User may go to his or her occasions, create a new occasion or sign out-->
<html lang="en">

<head>
  <!--Including common dependencies-->
  <% include partials/header.ejs %> 
  <!--CSS and UI dependencies-->
  <link href="/bootstrap/css/bootstrap-social.css" rel="stylesheet" type="text/css">
  <link href="//code.jquery.com/ui/1.11.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
  <link href="/stylesheets/dashboard.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/css/form-elements.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="stylesheets/dashboard.css">
  <link rel="stylesheet" href="stylesheets/createOccasion.css">
  <!--Images -->
  <link rel="shortcut icon" href="assets/ico/favicon.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">

  <!-- Javascript files containing methods-->
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="/javascripts/dashboard.js"></script>
  <script src="assets/js/scripts.js"></script>

<!--Adding import files for the new create occasion form -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
  <!-- Navigation bar at the top of the page-->
  <% include partials/nav_dashboard.ejs %>

   <!-- Intro Header -->
  <header class="intro">
    <!-- <div class="intro-body"> -->
      <div id="dashboard-container" class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h2>Welcome <%=name%>!</h1>

            <!--Create New Occasion-->
            <a id="createOccasion" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#createOccasionModal">Create New Occasion!</a>
            <!--Taking user to their occasions page-->
            <a href="/occasions" class="btn btn-primary btn-lg">My Occasions</a>

            <!--Modal which pops up to create a new occasion-->
            <% include partials/createOccasion.ejs %>
           
          </div>
        </div>
      </div>
  </header>

  <!--Custom Theme Javascript -->
  <% include partials/footer.ejs %>
</body>
</html>