<!DOCTYPE html>
<!-- Displays a user's dashboard after login. User may go to his or her occasions, create a new occasion or sign out-->
<html lang="en">

<head>
  <!--Including common dependencies-->
  <% include partials/header.ejs %> 
  
  <link href="/stylesheets/dashboard.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="stylesheets/dashboard.css">
  <link rel="stylesheet" href="stylesheets/createOccasion.css">

  <script src="/javascripts/dashboard.js"></script>

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
  <!-- Navigation bar at the top of the page-->
  <% include partials/nav_dashboard.ejs %>

   <!-- Intro Header -->
  <header class="intro">
    <!-- <div class="intro-body"> -->
      <div id="dashboard-container" class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h2>Welcome <%=name%>!</h1>

            <!--Create New Occasion-->
            <a id="createOccasion" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#createOccasionModal">Create New Occasion!</a>
            <!--Taking user to their occasions page-->
            <a href="/occasions" class="btn btn-primary btn-lg">My Occasions</a>

            <!--Modal which pops up to create a new occasion-->
            <% include partials/createOccasion.ejs %>
           
          </div>
        </div>
      </div>
  </header>

  <!--Custom Theme Javascript -->
  <script src="/bootstrap/js/grayscale.js"></script>
  <% include partials/footer.ejs %>
</body>
</html>