<!DOCTYPE html>
<html lang="en">

<head>

  <% include partials/header.ejs %> 

  <script src="/javascripts/index.js"></script>

    <style media="screen" type="text/css">

    
    .modal-dialog{
      position: relative;
      top: 50%;
    }

    .modal-content{
      width:60%;
      margin: auto;
    }

    #signIn{
      background-color: transparent;
      background: transparent;
      border: transparent;
    }


  </style>

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

 <% include partials/nav_index.ejs %>

  <!-- Intro Header -->
  <header class="intro">
    <div class="intro-body">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <!-- <h1 class="brand-heading">Occasional Thoughts</h1> -->
            <img src="img/OccasionalThoughts.png"class="img-responsive" alt="">
            <p class="intro-text">Celebrate with your friends!</p>
            <a id="login" class="btn btn-primary btn-xl" href="/auth/facebook">Log in with Facebook</a>

            </div>

          </div>
        </div>
      </div>
    </div>
  </header>

  <% include partials/about.ejs %>
  <% include partials/contact.ejs %>
 <% include partials/footer.ejs %>

</body>

</html>
