<!DOCTYPE html>
<!-- Displays thoughts by participants in a single occasion. Depending on whether or not it is published the page will or will not contain a text box for a participant to enter their thoughts in -->

<html lang="en">
  <head>
    <!--Including common dependencies -->
    <% include partials/header.ejs %> 

    <script src="/javascripts/occasion.js"></script>
    <link href="/stylesheets/occasion.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/dashboard.css" rel="stylesheet" type="text/css">


  </head>

  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <!-- Including navigation bar at the top of the page -->
    <% include partials/nav_occasions.ejs %>
    
    <!-- Intro Header -->
    <div class="intro"> 
      <div class="intro-body">

        <div class="container">
          <div class="row">

            <div class = "coverPhoto panel panel-default">
              <div class = "panel-body">
                <div class="col-xs-12">
                  <h3 class=""><%=occasion.title%></p>
                </div>
                <div class="col-xs-12">
                  <%if (occasion.coverPhoto) {%>
                    <img class = "coverPicture" src= <%= occasion.coverPhoto%>>
                  <% } else { %>
                    <img class="coverPicture" src="http://i.imgur.com/DH7hlPK.jpg" >
                  <%}%>
                </div>
                <div class="col-xs-12">
                  <p class="occasionDescription"><%=occasion.description%></p>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div  class="container">
          <div class="row">
            <!--Inserting thought elements -->
            <% include partials/thoughtListing.ejs %> 

          </div>
        </div>
      </div>
    </div>
    
    <!-- Bootstrap Theme JavaScript -->
    <script src="/bootstrap/js/grayscale.js"></script>
    <% include partials/footer.ejs %>

  </body>

</html>





