<!DOCTYPE html>
<html lang="en">
  <head>

    <% include partials/header.ejs %> 
    

    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/occasions.js"></script>
    <link href="/stylesheets/occasions.css" rel="stylesheet" type="text/css">


  </head>

  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <% include partials/nav_occasions.ejs %>
    <!-- Intro Header -->
    <header class="intro">
      <div class="intro-body">
        <div class="container">
          <% include partials/occasionListing.ejs %>
        </div>
      </div>
    </header>
    
    <!-- Custom Theme JavaScript -->
    <script src="/bootstrap/js/grayscale.js"></script>
  </body>
</html>





