<!DOCTYPE html>
<html lang="en">

<head>

  <% include partials/header.ejs %> 

  <link href="/stylesheets/occasion.css" rel="stylesheet" type="text/css">

  <script src="/javascripts/index.js"></script>
  <script src="/javascripts/occasion.js"></script>

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

  <% include partials/nav_occasions.ejs %>
  
  <!-- Intro Header -->
  <header class="intro"> 
    <div class="intro-body">
      <div class = "coverContainer">
        <%if (occasion.coverPhoto) {%>
          <img src= <%= occasion.coverPhoto%>>
        <% } else { %>
          <img src = "http://coverjunction.s3.amazonaws.com/2011/304/9198f9d5-4d65-4bd7-b5ff-85e1d22a01bd.jpg" >
        <%}%>
      </div>

      <div  class="container">
        <div class="row">

          <% include partials/thoughtListing.ejs %> 

        </div>
      </div>
    </div>
  </header>
  
  <!-- Custom Theme JavaScript -->
  <script src="/bootstrap/js/grayscale.js"></script>
  <% include partials/footer.ejs %>

</body>

</html>





