<!DOCTYPE html>
<!-- Displays the occasions a user has access to or has created all on one page, in a list -->

<html lang="en">
  <head>

    <% include partials/header.ejs %> 
    
    <script src="/javascripts/occasions.js"></script>
    <link href="/stylesheets/occasions.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/dashboard.css" rel="stylesheet" type="text/css">

    <!-- Javascript -->
    <script src="assets/js/scripts.js"></script>


  </head>

  <!--Ensuring the navigation bar stays on top, even when scrolling-->
  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <% include partials/nav_occasions.ejs %>

    <!-- Intro Header -->
    <div class="intro">
      <div class="intro-body">
        <!-- Container to hold icons for all occasions -->
        <div class="container">
          <% include partials/occasionListing.ejs %>
        </div>
      </div>
    </div>
    
    <!-- Boostrap Theme JavaScript -->
    <script src="/bootstrap/js/grayscale.js"></script>

    <% include partials/footer.ejs %>
  </body>
</html>





