<!DOCTYPE html>
<html lang="en">
  <head>

    <% include partials/header.ejs %> 
    

    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/occasions.js"></script>
    <link href="/stylesheets/occasions.css" rel="stylesheet" type="text/css">

    <link href="/bootstrap/css/bootstrap-social.css" rel="stylesheet" type="text/css">
    <link href="//code.jquery.com/ui/1.11.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
    
    <link href="/stylesheets/dashboard.css" rel="stylesheet" type="text/css">

    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <script src="/javascripts/dashboard.js"></script>

  <!--Adding import files for the new create occasion form -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/form-elements.css">
    <link rel="stylesheet" href="assets/css/style.css">

    <link rel="shortcut icon" href="assets/ico/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
    <!-- Javascript -->

    <script src="assets/js/scripts.js"></script>


  </head>

  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <% include partials/nav_occasions.ejs %>
    <!-- Intro Header -->
    <header class="intro">
      <div class="intro-body">
        <div class="container">
          <% include partials/occasionListing.ejs %>
        </div>
      </div>
    </header>
    
    <!-- Custom Theme JavaScript -->
    <% include partials/footer.ejs %>
  </body>
</html>





