/*.modal-dialog{
  position: relative;
  top: 50%;
}

.modal-content{
  width:60%;
  margin: auto;
}*/

span.ui-icon { 
  float: left; margin: 0 0px;
}

.edit-occasion{
  position: absolute;
  top: 0px;
  right: 0px;
  height: 20px;
  width: 20px;
  background: transparent;
  border: transparent;
}

.delete-occasion{
  position: absolute;
  top: 16px;
  right: 0px;
  height: 20px;
  width: 20px;
  background: transparent;
  border: transparent;
}

.occasion-thumbnail{
  max-width: 100px;
  max-height: 100px;
}

.ui-corner-all:hover {
  background: #eee;
  cursor: pointer;
}

#sign{
  background-color: transparent;
  background: transparent;
  border: transparent;
}

.intro-text{
  color:#000000;
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

.page-scroll{
  height:20px;
}

#sign{
  height:20px;
}

#occasions{
  background: -webkit-linear-gradient(left,  #737373, silver);
  padding: 10px;
  list-style-type: none;
  width: 600px;
}

h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

.li_occasion img {
  float: left;
  margin: 0 15px 0 0;
}

.li_occasion p {
  font: 200 13.5px/1.5 Cambria, Times New Roman, serif;
  color: #000000;
}

.li_occasion {
  padding: 0px;
  overflow: auto;
  margin: 10px;
}

.li_occasion{
  min-height: 100px;
}

.li_occasion:hover {
  background: #eee;
  cursor: pointer;
}

h3{
  color:#000000;
}
