span.ui-icon { 
  float: left; margin: 0 0px;
}

.edit-occasion{
  position: absolute;
  top: 0px;
  right: 0px;
  height: 20px;
  width: 20px;
  background: transparent;
  border: transparent;
}

.delete-occasion{
  position: absolute;
  top: 16px;
  right: 0px;
  height: 20px;
  width: 20px;
  background: transparent;
  border: transparent;
}

.occasion-thumbnail{
  width: 150px;
  height: 100px;
}

.ui-corner-all:hover {
  background: #eee;
  cursor: pointer;
}

#sign{
  background-color: transparent;
  background: transparent;
  border: transparent;
}

.intro-text{
  color:#000000;
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}


#sign{
  height:20px;
}

.occasionsPanel{
  background-color: rgba(255,255,255,.5);
  padding: 10px;
  list-style-type: none;
  min-width: 600px;
  margin:auto;
}

h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

.li_occasion img {
  float: left;
  margin: 0 15px 0 0;
}

.li_occasion p {
  font: 200 13.5px/1.5 Cambria, Times New Roman, serif;
  color: #000000;
}

.li_occasion {
  list-style-type: none;
  padding: 0px;
  overflow: auto;
  margin: 10px;
  position: relative;
}

.li_occasion{
  min-height: 100px;
}

.li_occasion:hover {
  background: #eee;
  cursor: pointer;
}

.occasionUl {
  list-style-type: none;
  padding-left: 0;
}

h3{
  color:#000000;
}

@media (min-width: 768px) {
  .createdOccasions {
    margin-top:105px; 
  }
}

.intermediateOccasions {
  margin-top:10px; 
}