<div id="tweets">

  <p>Welcome, {{currentUser}} (<a href="#" id="logout-link">logout</a>)</p>
  <div class="error"></div>

  <p><a id="switch-view" href="#">Show Tweets of People You Are Following</a></p>
  
  <div>
    <label for="new-follow-input">Enter a username to follow:</label>
    <input type="text" id="new-follow-input" />
    <button id="submit-new-follow">Follow</button>
  </div>

  <div>
    <label for="new-tweet-input">Add a new tweet:</label>
    <input type="text" id="new-tweet-input" />
    <button id="submit-new-tweet">Add</button>
  </div>

  <h1 id="title">All Tweets</h1>

  {{#each tweets}}
    {{> tweet}}
  {{else}}
    <p><em>No notes yet!</em></p>
  {{/each}}

</div>
